<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{443,0},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{806,0},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1169,0},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1532,0},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{0,458},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{363,458},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{726,458},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1089,458},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,458}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1452,458},{363,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,454}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{0,0},{443,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1815,458},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{2047,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2f58c9faa93b732baa5e1e8adbe35b6:2cb2d0593862777f49a64e3b52a361cc:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
