<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,3}</string>
                <key>spriteSize</key>
                <string>{307,494}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{623,1},{307,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,3}</string>
                <key>spriteSize</key>
                <string>{309,494}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,3}</string>
                <key>spriteSize</key>
                <string>{309,494}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,3}</string>
                <key>spriteSize</key>
                <string>{309,494}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{312,1},{309,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,2}</string>
                <key>spriteSize</key>
                <string>{309,492}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{1245,1},{309,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,2}</string>
                <key>spriteSize</key>
                <string>{309,492}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{1556,1},{309,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,2}</string>
                <key>spriteSize</key>
                <string>{311,492}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{932,1},{311,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,2}</string>
                <key>spriteSize</key>
                <string>{309,492}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{1556,1},{309,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,2}</string>
                <key>spriteSize</key>
                <string>{309,492}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{1245,1},{309,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,3}</string>
                <key>spriteSize</key>
                <string>{309,494}</string>
                <key>spriteSourceSize</key>
                <string>{641,542}</string>
                <key>textureRect</key>
                <string>{{312,1},{309,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>static.png</string>
            <key>size</key>
            <string>{1866,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fb5b58435c720d7f3b9dfb6a4977310:35d733e388448ad832ae5e9a3c48026f:740e8b278989ded0e6d093e12868dbf3$</string>
            <key>textureFileName</key>
            <string>static.png</string>
        </dict>
    </dict>
</plist>
